body {
  -ms-overflow-style: scrollbar;
  -webkit-app-region: drag;
}

div.centerMiddle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
#chatbox{
  width:100%;
  background:#fff;
  border-radius:6px;
  overflow:hidden;
  position:absolute;
  top:100px;
}
#chat-messageboxs{
  opacity:0;
  margin-top:30px;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-right: 20px;
  -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#chat-messageboxs.animate{
  opacity:1;
  margin-top:0;
}
#chat-messageboxs label{
  color:#aab8c2;
  font-weight:600;
  font-size:12px;
  text-align:center;
  margin:15px 0;
  width:290px;
  display:block;
}
#chat-messageboxs div.messagebox{
  padding:0 0 0 10px;
  clear:both;
  margin-bottom: 15px;
  overflow: hidden;
}
#chat-messageboxs div.messagebox.right{
  padding: 0 10px 0 0;
  margin-right: -19px;
  margin-left: 19px;
}
#chat-messageboxs .messagebox img{
  float: left;
  margin-left: -38px;
  border-radius: 50%;
  width: 30px;
  margin-top: 12px;
}
#chat-messageboxs div.messagebox.right img{
  float: right;
  margin-left: 0;
  margin-right: -38px;
}
.messagebox.right .bubble{
  background:#f0f4f7;
}
.messagebox.left .bubble{
  background:#f4fdb3;
}
.messagebox .bubble{
  padding:10px;
  border-radius:5px 5px 5px 0px;
  color:#8495a3;
  position:relative;
  float:left;
}
.bubble:before{
  margin: -19px 0 0 -16px;
  content: '';
  position: absolute;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}
div.messagebox.right .bubble:before {
  right: -16px;
  border-top: 16px solid #f0f4f7;
}
div.messagebox.left .bubble:before {
  left: 0;
  border-top: 16px solid #f4fdb3;
}
#chat-messageboxs div.messagebox.right .bubble{
  float:right;
  border-radius:5px 5px 0px 5px ;
}

#sendmessagebox{
  height:60px;
  border-top:1px solid #e7ebee;
  position: fixed;
  bottom:0;
  right:0px;
  width:100%;
  background:#fff;
  padding-bottm:50px;
}
#sendmessagebox input{
  background:#fff;
  margin:21px 0 0 21px;
  border:none;
  padding:0;
  color:#aab8c2;
  width: 88%;
}
#sendmessagebox input:focus{
  outline: 0;
}
#sendmessagebox button{
  position:absolute;
  right: 10px;
  top: 10px;
}
#sendmessagebox button:hover{
  cursor:pointer;
  background-position: 0 0 ;
}
#sendmessagebox button:focus{
  outline: 0;
}
.noborder{
  border: 0 none !important;
  box-shadow: none !important;
}
#chatview, #sendmessagebox {
  overflow:hidden;
  border-radius:6px;
}
